body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6fa;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #335384;
    color: white;
    padding: 1rem 2rem;
  }

  nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
  }

  nav a:hover {
    color: #ffd700;
  }

  .nav-name {
    color: #ffd700;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  .container-section {
    width: 100%;
    padding: 4rem 2rem;
    margin: 0;
  }

  .about-section {
    background-color: #ffffff; /* soft light blue */
  }

  .about-section h1 {
    color:  #0e4295; /* softer, more enticing blue */
  }

  /* .about-section h2 {
    color:  #335384; 
  } */

  .projects-section {
    background-color: rgba(51, 83, 132, 0.1);
  }

  .games-section {
    background-color: rgba(255, 215, 0, 0.1);
  }

  .btn-primary {
    background-color: #d1533e;
    border: none;
  }

  .btn-primary:hover {
    background-color: #b94430;
  }

  .social-icons a {
    color: #335384;
    font-size: 1.8rem;
    margin: 0 10px;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  main {
    padding: 0;
  }

  section:first-of-type {
    margin-top: 0;
  }

  section:last-of-type {
    margin-bottom: 0;
  }