body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6fa;
    margin: 0;
    padding-top: 70px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* ensures it stays above other elements */
    background-color: #335384;
    color: white;
    padding: 1rem 2rem;
  }
  

  nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
  }

  nav a:hover {
    color: #ffd700;
  }

  .nav-name {
    color: #ffd700;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  .container-section {
    width: 100%;
    padding: 4rem 2rem;
    margin: 0;
  }

  .about-section {
    background-color: #ffffff; /* soft light blue */
  }
  .projects-section {
    background-color: #fdfbf9;
  }
  
  .games-section {
    background-color: #ffffff;
  }
  .about-section h1 {
    color:  #0e4295; /* softer, more enticing blue */
  }


  .btn {
    background-color: #fa6838;
    border: none;
    color:#ffffff;
  }

  .btn:hover {
    background-color: #b94430;
  }
  .social-icons a {
    color: #335384;
    font-size: 1.8rem;
    margin: 0 10px;
    transition: transform 0.2s;
  }
  .social-icons a:hover {
    transform: scale(1.1);
  }

  .custom-icon {
    color: #335384;
    font-size: 1.2rem;
    vertical-align: middle;
  }
  

  .profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: none;
  }

  main {
    padding: 0;
  }

  section:first-of-type {
    margin-top: 0;
  }

  section:last-of-type {
    margin-bottom: 0;
  }

  .card {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
  }
  .card:hover {
    transform: translateY(-4px);
  }
  
  .card-title a {
    text-decoration: none;
    color: #335384;
  }
  
  /* .card-title a:hover {
    color: #0048ff;
  } */
  .card-text {
    color: #333;
  }
  
  .game-card {
    background-color: #fdfbf9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .game-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  }
  
  /* Optional: Remove margin if necessary */
  iframe {
    display: block;
    width: 100%;
    border: none;
  }
  
 
  h5 {
    font-weight: 600;
  }
  