/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Sidebar Styles */
.sidebar {
    background-color: #335384;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
}

.sidebar h1 {
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    display: block;
}

.sidebar img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    align-self: center;
}

nav a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s, transform 0.2s;
}

nav a:hover {
    color: #007bff; /* Bootstrap primary color */
    transform: translateX(5px); /* Slight movement to the right */
}

.social-icons a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 18px;
    align-self: center;
}


/* Main Content Styles */
.main-content {
    padding: 20px;
}


.btn-primary {
    background-color: #d1533e;
    border: none;
}

.btn-primary:hover {
    background-color: #b94430;
}